/*Sass variables*/
/*Document styling*/
body {
  background-color: #239936;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  display: flex;
  background-color: #184517;
  justify-content: end;
  padding: 5px;
  color: white;
}

/*title container*/
#title-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h2 {
  font-size: 60px;
  color: white;
}

#rule-btn {
  background-color: red;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  cursor: pointer;
}

#rule-btn:hover {
  background-color: black;
  color: white;
}

/*Game container*/
#game-box {
  display: flex;
  flex-flow: row wrap;
}

.column {
  flex: 1 1 300px;
  background-color: #184517;
  border-radius: 5px;
  font-size: 25px;
  padding: 10px;
  margin-top: 100px;
  color: white;
}

#left {
  display: flex;
  justify-content: center;
  height: 100px;
  background: #184517;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-right: 100px;
}

#right {
  display: flex;
  justify-content: center;
  height: 100px;
  background: #184517;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

/*Score container*/
#score-box {
  display: flex;
  flex-flow: row wrap;
  font-size: 20px;
}

.position {
  flex: 1 1 200px;
  color: white;
}

#score1 {
  margin-left: 20px;
}

#score2 {
  text-align: end;
  margin-right: 20px;
}

/*Game Controls*/
#game-btn {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#new-btn {
  background-color: gold;
  margin-right: 30px;
  cursor: pointer;
}

#new-btn:hover {
  background-color: black;
  color: white;
}

#roll-btn {
  background-color: silver;
  cursor: pointer;
}

#roll-btn:hover {
  background-color: black;
  color: white;
}

.btn-style {
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Rules pop-up*/
#rule-box {
  background-color: rgba(25, 63, 33, 0.9);
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 3;
}

#game-rule {
  background-color: white;
  color: black;
  border: 5px solid black;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 300px;
}

#game-rule > ul > li {
  margin: 10px;
}

#close-rule {
  background-color: red;
  border-radius: 40px;
  cursor: pointer;
  position: absolute;
  right: 1px;
  top: 1px;
  pointer-events: auto;
}

#close-rule:hover {
  background-color: black;
  color: white;
}

/*End Game pop-up*/
#end-box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 3;
}

#end-info {
  background-color: white;
  color: black;
  border: 5px solid black;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 300px;
}

#close-end {
  background-color: red;
  border-radius: 40px;
  cursor: pointer;
  position: absolute;
  right: 1px;
  top: 1px;
  pointer-events: auto;
}

#close-end:hover {
  background-color: black;
  color: white;
}

#end-message {
  text-align: center;
}