/*Sass variables*/
$shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
$base-color:#184517;
$px:100px;
$text:white;
$bg:black;
$rad:5px;
$box:flex;
$set:absolute;

/*Document styling*/ 
body {
    background-color: #239936;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    display: $box;
    background-color: $base-color;
    justify-content: end;
    padding: 5px;
    color: $text;
}


/*title container*/
#title-box{
    display: $box;
    flex-direction: column;
    text-align: center;
}

h2{
    font-size: 60px;
    color: $text;
}

#rule-btn{
    background-color: red;
    border-radius: $rad;
    box-shadow: $shadow;
    font-weight: bold;
    cursor: pointer;
}

#rule-btn:hover{
    background-color: $bg;
    color: $text;
}


/*Game container*/
#game-box{
    display: $box;
    flex-flow:row wrap;
}

.column{
    flex:1 1 300px;
    background-color: $base-color; 
    border-radius: $rad;
    font-size: 25px;
    padding: 10px;
    margin-top:$px;
    color: $text;
}
 
#left{
    display: $box;
    justify-content: center;
    height: $px;
    background: $base-color;
    box-shadow: $shadow;
    border-radius: $rad;
    margin-right: $px;
}
 
#right{
    display: $box;
    justify-content: center;
    height: $px;
    background: $base-color;
    box-shadow: $shadow;
    border-radius: $rad;
}


/*Score container*/
#score-box{
    display: $box;
    flex-flow:row wrap;  
    font-size: 20px;
}  

.position{
    flex:1 1 200px; 
    color: $text;
}

#score1{
    margin-left: 5px;
}

#score2{
    text-align: end;
    margin-right: 50px;
}  


/*Game Controls*/
#game-btn{
    display: $box;
    justify-content: center;
    margin-top: $px;
}

#new-btn{
    background-color: gold;
    margin-right: 30px;
    cursor: pointer;
}

#new-btn:hover{
    background-color: $bg;
    color: $text;
}

#roll-btn{
    background-color: silver;
    cursor: pointer;
}

#roll-btn:hover{
    background-color: $bg;
    color: $text;
}

.btn-style{
    border-radius: $rad;
    padding: 5px;
    font-weight: bold;
    box-shadow: $shadow;
}

/*Rules pop-up*/
#rule-box{
    background-color: rgba(25, 63, 33, 0.9); 
    position:fixed;
    width:100vw;
    height:100vh;
    pointer-events: none;    
	z-index:3;
}

#game-rule{
    background-color: $text;
    color: $bg;
    border: 5px solid $bg;
    border-radius: $rad;
    position: $set;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 300px;
}

#close-rule{
    background-color: red;
    border-radius: 40px;
    cursor: pointer;
    position: $set; 
    right: 1px;
    top: 1px;
    pointer-events: auto;
}

#close-rule:hover{
    background-color: $bg;
    color: $text;
}


/*End Game pop-up*/
#end-box{
    position:fixed;
    width:100vw;
    height:100vh;
    pointer-events: none;    
	z-index:3;
}

#end-info{
    background-color: $text;
    color: $bg;
    border: 5px solid $bg;
    border-radius: $rad;
    position: $set;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 300px;
}

#close-end{
    background-color: red;
    border-radius: 40px;
    cursor: pointer;
    position: $set; 
    right: 1px;
    top: 1px;
    pointer-events: auto;
}

#close-end:hover{
    background-color: $bg;
    color: $text;
}